body{
    background-color: #EDF2F4;
    color: #2B2D42;
}
h1{

    margin: 10px auto;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px#8D99AE;
}
#taskForm{
   margin: 20px auto;
   text-align: center;
}

#task{
    width: 60%;
    height: 25px;
    border-radius: 5px;
    color: #2B2D42;
    background-color: #EDF2F4;
    float: left;
    margin: 5px 4.8%;
}

#taskDesc{
    width: 90%;
    height: 60px;
    border-radius: 5px;
    color: #2B2D42;
    background-color: #EDF2F4;
}

form button{
    width: 30%;
    background-color: #2B2D42;
    color: #EDF2F4;
    height: 30px;
    box-shadow: 5px 5px 5px 5px #8D99AE;
    border-radius: 5px;
}

#subscribeButton{
    width: 30%;
    background-color: #2B2D42;
    color: #EDF2F4;
    height: 30px;
    box-shadow: 5px 5px 5px 5px #8D99AE;
    border-radius: 5px;
}


.taskCard{
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: 2% 0.5%;
    padding: 0 0 0 10px;
    box-shadow: 5px 5px 5px 5px #8D99AE;
    border-radius: 5px;
    color: #2B2D42;
    background-color: #EDF2F4;
    cursor: pointer;
    min-height: 90px;
    
    
}
.content p {
    overflow-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
}
.buttons{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;

}
.checkbox{
    align-self: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 20px 0 5px;
    accent-color: #8D99AE;
    
}



.deleteTask
{
    background-color: #2B2D42;
    color: #EDF2F4;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px;
}
.editTask{
    background-color: #8D99AE;
    color: #2B2D42;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    padding: 5px;
}

.full{
    display: none;
    overflow-wrap: break-word;
    max-width: 90%;
    white-space: pre-line;
}
.taskCard.active .short {
    display: none;
}
.taskCard.active .full {
    display: block;
}

#offline{
    display: none;
    color: #EDF2F4;
    margin: 20px auto;
    text-align: center;
    background-color: #2B2D42;
    width: 50%;
    box-shadow: 5px 5px 5px 5px #8D99AE;

}

.filters{
    margin: 4% 0.5%;
    color: #2B2D42;
}
input[type="radio"]
{
    accent-color: #2B2D42;
    width: 20px;
    height: 20px;
}


